.content__title{
    font-size: 7.2rem;
    font-family: MontserratBlack;
    line-height: 8rem;
    
    
}

.content__mission{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    font-size: 26px;
    line-height: 3.8rem;
}

.content__framework{
    margin-bottom: 10rem;;
}

.content__framework-title{
    font-family: secondaryFont;
    font-size: 2.6rem;
    line-height: 3.8rem;
    margin-bottom: 4rem;
}

.content__framework-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rf 1rf;
    gap: 4rem 2.4rem;

    font-size: 1.8rem;
    color: #FCFCFD;    
    line-height: 3.3rem;
}

.content__steps{
    display: grid;
    height: 116.5rem;
    margin-bottom: 10rem;
    gap: 6rem 10rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "item-1 item-2 item-3"
    "item-6 item-6 item-3"
    "item-6 item-6 item-4"
    "item-6 item-6 item-5";
}

.content__steps div{
    width: 100%;
}

.content__step{
    &--1{
        grid-area: item-1;
        
    }
    &--2{
        grid-area: item-2;
        
    }
    &--3{
        grid-area: item-3;
        
        
    }
    &--4{
        grid-area: item-4;
        
    }
    &--5{
        grid-area: item-5;
        
    }
    &--6{
        grid-area: item-6;
        background-image: url("../images/content-bg@1x.png") ;
        background-image: image-set(
          url("../images/content-bg@3x.png") 3x,
          url("../images/content-bg@2x.png") 2x,
          url("../images/content-bg@1x.png") 1x);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
    }
    
}

.content__wrapper-img {
    position: relative;
    &::after{
        content: '';
        position: absolute;
        right: 1.5rem;
        bottom: 50%;
        width: 10.2rem;
        height: 9.7rem;
        
        background: center url(../images/tnt-content.svg) no-repeat;
        background-size: cover;
    }
}

.content__step-title{
    color:  $secondary-bg;
    font-family: MontserratBlack;
    font-size: 10rem;
    line-height: 8rem;
}

.content__step-text{
    font-family: secondaryFont;
    font-size: 2.6rem;
    line-height: 3.8rem;
    margin-bottom: 1rem;
    position: relative;
    &--fn{
        color: #FCFCFD;
        line-height: 3.3rem;
        padding-right: 127px;
    }
}

.content__box{
    display: flex;
    margin-bottom: 10rem;
}

.content__box-text{
    width: 66.6%;
    & > p {
        margin-top: 2rem;
    }
}

