
.footer{
    height: 78.4rem;

    background-image: url("../images/footer-bg@1x.png") ;
    background-image: image-set(
      url("../images/footer-bg@3x.png") 3x,
      url("../images/footer-bg@2x.png") 2x,
      url("../images/footer-bg@1x.png") 1x);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 75%;
}

.footer__content{
    max-width: 36.5rem;
    padding-top: 23.1rem;
}

.footer__title{
    font-family: secondaryFont;
    font-size: 2.6rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
    padding-right: 2.1rem;
}

.footer__content > p{
    color: #FCFCFD;
}