.nav__list{
    display: flex;
}

.nav__item{
  

    
}

.nav__link {
    display: block;
    padding: 0 1.8rem;
    border-radius: 20px;
    color: $secondatyText;

    transition: color .2s linear,
    background-color .6s ease-out;
    &:hover{
        color: $white;
        background-color: $secondary-bg;
    }
}

.active{
    color: $selectionText
}