- var socialList = ['discord', 'telegram', 'twitter', 'facebook', 'instagram', 'wtf']
section.baner
    .container 
        .baner__contecnt
            h1.baner__title GameFi short video 
                br
                span.text-select platform
            p.baner__text Watch. Play. Earn
            a.baner__link(href="https://play.google.com/store/apps?hl=ru&gl=US" target="_blank")
                +imageSVG('google-play')
            p.baner__text-link Pre-registration in Google Play 
        .baner__social
            ul
                +socialMedia(socialList, "baner__social")