section.content 
    .container.container--sml 
        h2.content__title
            span.text-select Cheelee’s 
            | mission
        .content__mission
            p Users spend an average of 2.5 hours daily on social networks and get nothing fоr it. We believe that this is unfair
            p 
                strong  Our mission 
                | is to provide everyone with the opportunity to monetize time in social networks
        .content__framework
            h3.content__framework-title 
                span.text-select Cheelee 
                |works within the "Attention Economy" framework
            .content__framework-text 
                p Other social media consider a user as an information and advertising influence target, 
                    strong but a Cheelee user is a full system member, partner and beneficiary
                p 
                    strong The Attention Economy 
                    |sees human attention as a scarce commodity making it a new oil! The founder of this concept is the Nobel laureate Herbert Simon
                p The main idea is that attention is converted into income with digital platforms. You pay your attention to what you want, and get paid for it. Your attention has a certain cost.
                p Through the GameFi mechanics, Cheelee’s users earn together with the platform by converting their attention into money
        .content__steps 
            .content__step--1
                h3.content__step-title 1
                p.content__step-text Sign-up and get your 
                    span.text-select free NFT glasses
            .content__step--2 
                h3.content__step-title 2
                p.content__step-text Watch the feed and get the boxes 
                    span.text-select with LEE tokens
            .content__step--3 
                h3.content__step-title 3
                p.content__step-text Buy your NFT glasses and 
                    span.text-select get LEE tokens 
                    |directly when watching the feed
                .content__wrapper-img 
                    p.content__step-text--fn The higher the rarity of your NFT glasses, the more points you get when leveling them up-the more tokens you can earn

            .content__step--4 
                h3.content__step-title 4
                p.content__step-text Upgrade your
                    br
                    span.text-select NFT glasses
            .content__step--5 
                h3.content__step-title 5
                p.content__step-text 
                    span.text-select Buy additional NFT glasses 
                    |to increase the amount of Attention and rewarded time of watching the feed
                p.content__step-text--fn 1 Attention = 
                    strong 10 minutes 
                    |of rewarded feed viewing
            .content__step--6 
        .content__box
            .content__box-text 
                h2.content__title Watch the videos and 
                    span.text-select get the boxes
                p While watching the feed you can get boxes 
                |with NFT or LEE tokens
            .content__box_image
                +imagePng('box')
    .container
        .presale
            .container--sml 
                p Don’t miss the 
                    span.text-select Presale
                +button('Buy NFT glasses', 'button')


