footer.footer 
    .container.container--sml 
        .footer__content 
            h3.footer__title Cheelee team has 
                span.text-select already launched product
            p The project is based on the already launched in 2021 short video platform – NUTSon (1.5M users, 33% engagement rate and 15K videos created daily)