header.header
    .container
        a(href="#")  
            +imageSVG('logo')

        nav 
            ul.nav__list 
                li.nav__item
                    a.nav__link(href="#") About us
                li.nav__item
                    a.nav__link(href="#") Roadmap
                li.nav__item
                    a.nav__link(href="#") Documents
                li.nav__item
                    a.nav__link(href="#") F.A.Q.
                li.nav__item
                    a.nav__link.active(href="#") Buy NFT glasses
        .menu 
            .menu__item 
                +imagePng('cheel')
                .menu__item-text
                    h5.menu__item-tile CHEEL
                    p.menu__item-price $8,00
            .menu__item 
                +imagePng('lee')
                .menu__item-text
                    h5.menu__item-tile LEE
                    p.menu__item-price $8,00
            .menu__item
                a(href="#")  
                    +imageSVG('logo-certik').menu__logo
            .menu__item.menu__currency
                select
                    option(value="EU")  EU
                    option(value="$")  $
                    option(value="RU")  RU