include pug/libs/_libs

doctype html
html(lang='en')
	include pug/_head
	body
		.container
			h1 WTF??!
			p.text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quasi
				| dolore totam odio ex, repellendus adipisci enim consequatur eaque at
				| incidunt ratione, modi, fugiat explicabo nulla nemo quibusdam officia
				| hic?
			+image('e92b14')
			+imagejpg('01')
			
