

.none{
    display: none !important;
}

html{
    font-size: 62.5%;
}

body {
    font-family: generalFont, sans-serif;
    background-color: $main-bg;
    color:$white;
    font-size: 1.6rem;
}

a {
    color:white;
    transition: color 0.3 ease-in;

    &:hover{
        
    }
}

.visually-hidden {
     /* Contain text within 1px box */
	height: 1px;
	overflow: hidden;
	width: 1px;

	/* Keep the layout */
	position: absolute;

	/* Remove any visible trace (e.g. background color) */
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%); /* browsers in the future */

	/* Prevent the screen reader to skip spaces between words */
	white-space: nowrap;
}

.title-2 {
  
}

.active{
    color: $selectionText
}


.no-scroll{
    overflow-y: hidden;
}