@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');


.none{
    display: none !important;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: $dark;
    color:$white;
    font-size: 16px;
}

a {
    color:white;
    transition: color 0.3 ease-in;

    &:hover{
        color:$accent;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

.visually-hidden {
     /* Contain text within 1px box */
	height: 1px;
	overflow: hidden;
	width: 1px;

	/* Keep the layout */
	position: absolute;

	/* Remove any visible trace (e.g. background color) */
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%); /* browsers in the future */

	/* Prevent the screen reader to skip spaces between words */
	white-space: nowrap;
}

.title-2 {
    color: $accent;
    font-family: $font-accent;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;

    @include mediaTable{
        font-size: 28px;
    }
}


.no-scroll{
    overflow-y: hidden;
}