@font-face {
    font-family: generalFont;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: secondaryFont;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: MontserratBlack;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: MontserratExtraBold;
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: SFproRegular;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/SF-Pro-Text-Regular.otf");
}

@font-face {
    font-family: SFproBold;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SF-Pro-Text-Bold.otf");
}

@font-face {
    font-family: SFproSemiBold;
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/SF-Pro-Text-Semibold.otf");
}